parameters:
    database_host: 192.168.0.11
    database_port: ~
    database_name: store
    database_user: lpezzali
    database_password: poldo89
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    secret: 03e6b8b6513f3af4401379457f26bd4bdf625104
    mail_address: info@example.com
    mail_sender: Store
    site_name: Store