{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                {% if new %}
                    <h3>Creazione attività</h3>
                {% else %}
                    <h3>Modifica attività #{{ task.id }}</h3>
                {% endif %}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}