.description {
    padding: 10px;
    background: #f8f9fa;
    border-radius: 8px;
}

.comment {
    padding: 10px;
}

.comment-author {
    font-size: smaller;
}

.comment-author p {
    margin-right: 8px;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}